Visual Studio
bin/
obj/
*.user
*.suo
*.pidb
*.psess
*.vsp
.vspx
.sln.docstates
.vs/
_ReSharper/
[Dd]ebug/
[Rr]elease/

Windows
Thumbs.db
desktop.ini

Мои файлы
*.tmp
*.log
*.bak
*.old
*.orig